* {
  padding: 0;
  margin: 0;
}

#top-header {
  padding: 30px;
  background-color: #01ff6d;
  border-radius: 10px;
}

#top-header .navbar {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
}

main {
  padding: 30px 0;
  margin: 20px;
  background-color: #eb5757; 
  border-radius: 10px;
  width: 40%;
  display: inline-block;
}

#articles-section {
  padding: 30px;
}

article {
  background-color: #f2f2f2;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
}

aside {
  background-color: #f2994a;
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

#footer {
  background-color: #bb6bd9;
  padding: 30px;
  margin: 20px 0;
  border-radius: 10px;
}
